*
#api
!api
!api/src/**/* 
!api/.dockerignore
!api/.eslintrc.js
!api/.prettierrc.
!api/.Dockerfile
!api/.nest-cli.json
!api/package-lock.json
!api/package-lock.json
!api/package.json
!api/tsconfig.build.json
!api/tsconfig.json

#app
!app
!app/src/**/*
!app/.dockerignore
!app/.editorconfig
!app/.eslintignore
!app/.eslintrc.cjs
!app/.npmrc
!app/.prettierrc
!app/Dockerfile
!app/index.html
!app/package-lock.json
!app/package.json
!app/postcss.config.cjs
!app/quasar.config.js
!app/tsconfig.json

#data
!data
!data/init.sh

#root folder
!.env.sample
!.gitignore
!docker-compose.yml
!LICENSE
!README.MD