
version: '3.1'

services:
  api:
    build:
      context: ./api
      dockerfile: ./Dockerfile
    container_name: api 
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`todo.rafaelhome.mourou.gr`) && PathPrefix(`/api/`)"
      - "traefik.http.services.app.loadbalancer.server.port=3000"
      - "traefik.http.routers.api.entrypoints=web"
      - "--providers.docker.network=webgateway"
    networks:
      - webgateway
    ports: 
      - 3000:3000
    volumes:
      - ./api/src:/src
    depends_on:
      - mongo
      - traefik
  app:
    build:
      context: ./app
      dockerfile: ./Dockerfile 
    ports: 
      - 8080:8080
    container_name: app
    command: "npm run dev"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app=true"
      - "traefik.http.routers.app.rule=Host(`todo.rafaelhome.mourou.gr`)"
      - "traefik.http.services.app.loadbalancer.server.port=8080"
      - "traefik.http.routers.app.entrypoints=web"
      - "--providers.docker.network=webgateway"
    networks:
      - webgateway
    volumes:
      - ./app:/app
  mongo:
    image: mongo
    container_name: mongo
    volumes:
      - ./data:/data
      - ./data/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - 27017:27017
    networks:
      - webgateway
  mongo-express:
    image: mongo-express
    container_name: mongo_express
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_MONGODB_URL: mongodb://root:root@mongo:27017
    ports:
      - 8081:8081
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mongo-express.rule=Host(`dbadmin.rafaelhome.mourou.gr`)"
      - "traefik.http.routers.mongo-express.entrypoints=web"
      - "traefik.http.services.mongo-express.loadbalancer.server.port=8081"
      - "--providers.docker.network=webgateway"
    networks:
      - webgateway 
    depends_on:
      - mongo
      - traefik
  traefik:
    image: "traefik:v2.10"
    container_name: "traefik"
    restart: always
    command:
      #- "--log.level=DEBUG"
      # - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--api.dashboard=true"
      - "--providers.docker.network=webgateway"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - ./traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./traefik/dynamic_conf.yaml:/etc/traefik/dynamic_conf.yaml:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.rafaelhome.mourou.gr`)"
      - "traefik.http.routers.traefik.entrypoints=web"
      - "traefik.http.routers.traefik.service=api@internal"
    networks:
      - webgateway

  whoami:
    image: "traefik/whoami"
    container_name: "simple-service"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.rafaelhome.mourou.gr`)"
      - "traefik.http.routers.whoami.entrypoints=web"
    networks:
      - webgateway
    depends_on:
      - traefik
  
networks:
  webgateway:
    external: true