# Use root/example as user/password credentials
version: '3.1'
networks:
  webgateway:
    driver: bridge
services:
  api:
    build:
      context: ./api
      dockerfile: ./Dockerfile
    container_name: api 
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`app.localhost`)&&Path(`/api`)"
      - "traefik.http.routers.api.entrypoints=web"
    networks:
      - webgateway
    volumes:
      - ./src:/src
  app:
    build:
      context: ./app
      dockerfile: ./Dockerfile 
    container_name: app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`app.localhost`)&&Path(`/app`)"
      - "traefik.http.routers.app.entrypoints=web"
    networks:
      - webgateway
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mongo.rule=Host(`db.localhost`)"
      - "traefik.http.routers.mongo.entrypoints=web"
    networks:
      - webgateway
  mongo-express:
    image: mongo-express
    container_name: mongo_express
    restart: always
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_MONGODB_URL: mongodb://root:root@mongo:27017
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mongo-express.rule=Host(`dbexpress.localhost`)"
      - "traefik.http.routers.mongo-express.entrypoints=web"
    networks:
      - webgateway 
  # traefik:
  #   image: "traefik:v2.10"
  #   container_name: "traefik"
  #   restart: always
  #   command:
  #     #- "--log.level=DEBUG"
  #     - "--api.insecure=true"
  #     - "--providers.docker=true"
  #     - "--providers.docker.exposedbydefault=false"
  #     - "--entrypoints.web.address=:80"
  #     - "--api.dashboard=true"
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - "/var/run/docker.sock:/var/run/docker.sock:ro"
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.traefik.rule=Host(`traefik.rafaelhome.mourou.gr`)"
  #     - "traefik.http.routers.traefik.entrypoints=web"
  #     - "traefik.http.routers.traefik.service=traefik@internal"
  #   networks:
  #     - webgateway

  # whoami:
  #   image: "traefik/whoami"
  #   container_name: "simple-service"
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.whoami.rule=Host(`whoami.rafaelhome.mourou.gr`)"
  #     - "traefik.http.routers.whoami.entrypoints=web"
  #   networks:
  #     - webgateway
  #   depends_on:
  #     - traefik